audio/*.wav
audio/*.mp3
audio/*.jpg
audio/*.png
video/*.mp4
video/*.jpg
video/*.png
venv/
paddleenv/
.env
.vscode/
__pycache__/
riddleformat.txt
chessdotcom/
chess/moves/
chess/chess_board_with_puzzle*
chess/moves/
tempOutput/
background_videos/
media/
whoa/
.venv/
temp*.py
reuse
prev_window_handle.txt
encrypt
prev_window_handle.txt
aistudio_ui_handler.py
Fonts/NotoColorEmoji-Regular.ttf

aistudio_ui_handler/
copilot_ui_chat/
gemini_ui_chat/
grok_ui_chat/
pally_search_caption/
perplexity_ui_chat/
qwen_ui_chat/
search_google_ai_mode/
meta_ui_chat/
anime_shorts_aistudio_ui_handler/
temp_aistudio_ui_handler/
temp_gemini_ui_chat/
cc/
chat_bot_ui_handler_logs/
custom_lib/lib/
entries.db
entries_backup.db
databases/*.db
entries.db
entries_backup.db
cc_youtube_auto_pub/
thread_id_*/
temp_dir/
