# First install numpy separately
# second install opencv-python  separately
# and then below
numpy
opencv-python
librosa
pillow
google-auth
google-auth-oauthlib
google-api-python-client
ollama
pyautogui
requests-oauthlib
cairosvg
lxml
pydub
moviepy==1.0.3
fastapi
uvicorn
python-multipart
websockets
pytesseract
triton
langdetect
pysubs2
hmmlearn
eyed3
imblearn
ffmpeg-python
#speechrecognition
scenedetect
pyannote.audio
google-generativeai
rarfile
ffmpeg
pymediainfo
beautifulsoup4
piexif
git+https://github.com/jebin2/lib.git
git+https://github.com/jebin2/custom_logger.git
git+https://github.com/jebin2/gemiwrap.git
git+https://github.com/jebin2/browser_manager.git
git+https://github.com/jebin2/chat_bot_ui_handler.git
git+https://github.com/jebin2/youtube_auto_pub.git
psutil
svgwrite
spacy
json_repair
pydantic
imagehash
huggingface_hub
cryptography
sentence_transformers
easyocr
chardet
# Last install chardet
